.button {
  width: 280px;
  height: 37px;
  background: var(--primary-color);
  border: none;
  color: var(--text-color-inverted);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}
