@use '../../styles/colors' as *;

.chat {
  @include color-variables;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 310px 1fr;
  box-sizing: border-box;

  &__left-block {
    background: var(--background-secondary);
  }

  &__link {
    height: 56px;
    text-decoration: none;
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin: 0 10px 0 0;
  }

  &__link-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__search-input {
    width: 290px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    background: var(--background-light-gray);
    border: none;

    &:hover {
      border: none;
    }
  }

  &__line {
    width: 290px;
    border-bottom: 1px solid var(--border-color-light);
    margin: 14px 0 0;
    display: flex;
    justify-self: center;
  }

  &__block-chats {
    padding: 0;
    margin: 0;
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--background-light-gray);
  }

  &__user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__user-message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-secondary);
  }

  &__block-message {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &__block-message-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 31px 0 20px;

    &::after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 1px;
      background-color: var(--border-color-light);
      width: calc(100% - 40px);
    }
  }

  &__block-message-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__dimensions-avatar {
    width: 34px;
    height: 34px;
  }

  &__block-message-header-menu {
    cursor: pointer;
  }

  &__content {
    Padding: 0 20px;
  }

  &__block-chat-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  &__block-user-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
  }

  &__block-send-message {
    position: relative;
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px;

    &::after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0;
      height: 1px;
      background-color: var(--border-color-light);
      width: calc(100% - 40px);
    }
  }

  &__send-message-input {
    outline: none;
    border: none;
    border-radius: 30px;
    width: 100%;
    background: var(--background-light-gray);
    padding: 10px 20px;
    margin: 0 10px;
  }

  &__send-message-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }
}
