@use '../../styles/colors' as *;

.chat {
  @include color-variables;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 310px 1fr;
  box-sizing: border-box;
  overflow: hidden;

  &__left-block {
    background: var(--background-secondary);
  }

  &__link {
    height: 56px;
    text-decoration: none;
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin: 0 10px 0 0;
  }

  &__link-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__search-input {
    width: 290px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    background: var(--background-light-gray);
    border: none;

    &:hover {
      border: none;
    }
  }

  &__line {
    width: 290px;
    border-bottom: 1px solid var(--border-color-light);
    margin: 14px 0 0;
    display: flex;
    justify-self: center;
  }

  &__block-chats {
    padding: 0;
    margin: 0;
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--background-light-gray);
  }

  &__user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__user-message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-secondary);
  }

  &__block-message {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    height: 100vh;
  }

  &__block-message-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 31px 0 20px;

    &::after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 1px;
      background-color: var(--border-color-light);
      width: calc(100% - 40px);
    }
  }

  &__block-message-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__dimensions-avatar {
    width: 34px;
    height: 34px;
  }

  &__block-message-header-menu {
    cursor: pointer;
  }

  &__block-message-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--background-light-gray);
    }
  }

  &__modal-file-item {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    &:hover {
      background: var(--background-light-gray);
      border-radius: 5px;
    }
  }

  &__modal-file-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden auto;

    .chat-date {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--border-color-light);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--text-color-secondary);
    }
  }

  &__message-wrapper {
    display: flex;
    width: 100%;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__block-chat-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  &__block-user-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
  }

  &__block-send-message {
    position: relative;
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px;

    &::after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0;
      height: 1px;
      background-color: var(--border-color-light);
      width: calc(100% - 40px);
    }
  }

  &__send-message-input {
    outline: none;
    border: none;
    border-radius: 30px;
    width: 100%;
    background: var(--background-light-gray);
    padding: 10px 20px;
    margin: 0 10px;
  }

  &__send-message-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }

  &__modal-user {
    position: absolute;
    top: 54px;
    right: 20px;
    width: 210px;
    background: var(--background-secondary);
    box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 10;

    &.chat__modal-active {
      display: flex;
    }
  }

  &__plus-icon, &__cross-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid #007bff;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__plus-icon {
    position: relative;

    &::before {
      content: '+';
      color: #007bff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__cross-icon {
    position: relative;

    &::before {
      content: '×';
      color: #007bff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
