<main class="links-page">
    <nav>
        <ul class="links-page__list">
            <li class="links-page__list-item">
                <a class="links-page__link" href="/chat">Страница чата</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="/500">Ошибка 500</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="/password/edit">Редактор пароля</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="/profile">Профиль пользователя</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="/profile/edit">Редактор профиля пользователя</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" class="links-page__link" href="/signin">Авторизация</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="signup">Регистрация</a>
            </li>
            <li class="links-page__list-item">
                <a class="links-page__link" href="/lkjlkjlsdf">Неправильный путь</a>
            </li>
        </ul>
    </nav>
</main>
