.user-message {
  max-width: 402px;
  background: var(--background-message-own);
  padding: 11px;
  border-radius: 10px 10px 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__time {
    color: var(--text-color-secondary);
    float: right;
    margin-top: 5px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }
}
