@use '../../styles/colors' as *;

.password-edit {
  @include color-variables;

  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__blocks-password {
    width: 510px;
    margin: 97px 0 162px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    width: 280px;
    height: 37px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    color: var(--text-color-inverted);
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }
}
