<div class="password-edit">
    <div class="password-edit__block-back">
        <button id="btn-back" class="password-edit__block-back__button">
            <img class="password-edit__block-back__img" src="/arrow_left.svg" alt="arrow-left"/>
        </button>
    </div>
    <div class="password-edit__container">
        <div class="password-edit__avatar">
            <img class="password-edit__avatar-image" src="/image.svg" alt="avatar"/>
            <span class="password-edit__avatar-text">Поменять аватар</span>
        </div>
        <div class="password-edit__blocks-password">
            <div class="password-edit__block-password">
                <p class="password-edit__meaning-password password-edit__text">Старый пароль</p>
                <input class="password-edit__password-input password-edit__text" name="oldPassword" value="password"
                       type="password"/>
            </div>
            <div class="password-edit__block-password">
                <p class="password-edit__meaning-password password-edit__text">Новый пароль</p>
                <input class="password-edit__password-input password-edit__text" name="newPassword" value="new_password"
                       type="password"/>
            </div>
            <div class="password-edit__block-password">
                <p class="password-edit__meaning-password password-edit__text">Повторите новый пароль</p>
                <input class="password-edit__password-input password-edit__text" name="newPassword" value="new_password"
                       type="password"/>
            </div>
        </div>
        <button class="password-edit__button password-edit__text">Сохранить</button>
    </div>
</div>