@use '../../styles/colors' as *;

.profile {
  @include color-variables;

  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 21px 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: var(--text-color-primary);
  }

  &__blocks-info {
    width: 510px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__settings-item {
    width: 100%;
    color: var(--primary-color);
    border-bottom: 1px solid var(--border-color-light);
    padding-bottom: 10px;
    text-align: start;
    cursor: pointer;
  }

  &__link {
    color: var(--danger-color);
    text-decoration: none;
    text-align: start;
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }
}
