<main class="profile">
    <div class="profile__block-back">
        <button id="btn-back" class="profile__block-back__button">
            <img class="profile__block-back__img" src="/arrow_left.svg" alt="arrow-left"/>
        </button>
    </div>
    <div class="profile__container">
        <div class="profile__avatar">
            <img class="profile__avatar-image" src="/image.svg" alt="avatar"/>
            <span class="profile__avatar-text">Поменять аватар</span>
        </div>
        <h2 class="profile__title">Иван</h2>
        <div class="profile__blocks-info">
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Почта</p>
                <p class="profile__info profile__text">pochta@yandex.ru</p>
            </div>
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Логин</p>
                <p class="profile__info profile__text">ivanivanov</p>
            </div>
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Имя</p>
                <p class="profile__info profile__text">Иван</p>
            </div>
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Фамилия</p>
                <p class="profile__info profile__text">Иванов</p>
            </div>
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Имя в чате</p>
                <p class="profile__info profile__text">Иван</p>
            </div>
            <div class="profile__block-info">
                <p class="profile__heading-info profile__text">Телефон</p>
                <p class="profile__info profile__text">+7 (909) 967 30 30</p>
            </div>
        </div>
        <div class="profile__settings">
            <p class="profile__settings-item profile__text">Изменить данные</p>
            <p class="profile__settings-item profile__text">Изменить пароль</p>
            <a class="profile__link profile__text">Выйти</a>
        </div>
    </div>
</main>
