.input-profile {
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-light);
    padding-bottom: 10px;
  }

  &:last-child {
    .input-profile__row {
      border-bottom: none;
    }
  }

  &__label {
    color: var(--text-color-primary);
  }

  &__input {
    color: var(--text-color-secondary);
    border: none;
    text-align: right;
    background: var(--background-primary);

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }
}
