<div class="profile-edit">
    <div class="profile-edit__block-back">
        <button id="btn-back" class="profile-edit__block-back__button">
            <img class="profile-edit__block-back__img" src="/arrow_left.svg" alt="arrow-left"/>
        </button>
    </div>
    <div class="profile-edit__container">
        <div class="profile-edit__avatar">
            <img class="profile-edit__avatar-image" src="/image.svg" alt="avatar"/>
            <span class="profile-edit__avatar-text">Поменять аватар</span>
        </div>
        <div class="profile-edit__blocks-info">
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Почта</p>
                <input class="profile-edit__info-input profile-edit__text" name="email" value="pochta@yandex.ru"
                       type="text"/>
            </div>
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Логин</p>
                <input class="profile-edit__info-input profile-edit__text" name="login" value="ivanivanov" type="text"/>
            </div>
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Имя</p>
                <input class="profile-edit__info-input profile-edit__text" name="first_name" value="Иван" type="text"/>
            </div>
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Фамилия</p>
                <input class="profile-edit__info-input profile-edit__text" name="second_name" value="Иванов"
                       type="text"/>
            </div>
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Имя в чате</p>
                <input class="profile-edit__info-input profile-edit__text" name="display_name" value="Иван"
                       type="text"/>
            </div>
            <div class="profile-edit__block-info">
                <p class="profile-edit__heading-info profile-edit__text">Телефон</p>
                <input class="profile-edit__info-input profile-edit__text" name="phone" value="+7 (909) 967 30 30"
                       type="text"/>
            </div>
        </div>
        <button class="profile-edit__button profile-edit__text">Сохранить</button>
    </div>
</div>