@use '../../styles/colors' as *;

.profile-edit {
  @include color-variables;

  width: 100%;
  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__blocks-info {
    width: 510px;
    margin: 97px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
