@use '../../styles/colors' as *;

.login {
  @include color-variables;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 50px 30px 30px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-primary);
    border-radius: 12px;
    box-shadow: 2px 2px 6px 4px rgb(0 0 0 / 14%);
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-title);
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0 154px;
    gap: 16px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
