.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 10000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.modal__active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    background-color: var(--background-secondary, #fff);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 10001;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: var(--text-color);
  }

  &__button {
    width: 100%;
    margin-top: 10px;
    height: 37px;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    color: #FFF;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
  }
}
