<div class="modal{{#if isActive}} modal__active{{/if}}">
    <div class="modal__content">
        <p class="modal__title">{{ title }}</p>
        {{{ Input }}}
        <button class="modal__button">{{ textButton }}</button>
    </div>
</div>