<li class="chat-card">
    <div style="display: flex">
        <div class="chat-card__avatar"></div>
        <div class="chat-card__user-info">
            <h4 class="chat-card__user-name">{{ name }}</h4>
            <p class="chat-card__user-message">{{ message }}</p>
        </div>
    </div>
    <div class="chat-card__message-info">
        <p class="chat-card__message-time">{{ time }}</p>
        <div class="chat-card__block-unread-massages">
            <p class="chat-card__unread-massages">{{ numberMessages }}</p>
        </div>
    </div>
</li>
