.chat-card {
  position: relative;
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;

  &::after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: var(--border-color-light);
    width: calc(100% - 20px);
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--background-light-gray);
  }

  &__user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
  }

  &__user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__user-message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color-secondary);
  }

  &__message-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  &__message-time {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: var(--text-color-secondary);
  }

  &__block-unread-massages {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__unread-massages {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: var(--text-color-inverted);
  }
}
