:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6, p, span, a, input {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    place-items: center;
}

#app {
    margin: 0 auto;
    text-align: center;
}

button {
    border-radius: 8px;
}

.error {
    color: #FF2F2F;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    text-align: start;
    padding-top: 7px;
}

.error-profile {
    text-align: end;
    display: block;
    width: 100%;
}

.chat-card {
    position: relative;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;

    &::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: var(--border-color-light);
        width: calc(100% - 20px);
    }

    &--active {
        background-color: rgb(228 237 253 / 100%);
    }

    &__avatar {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: var(--background-light-gray);
    }

    &__user-info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        text-align: left;
        overflow: hidden;
        flex: 1;
    }

    &__user-name {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__user-message {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--text-color-secondary);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    &__message-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 14px;
        min-width: 40px;
        margin-left: 10px;
    }

    &__message-time {
        font-weight: 500;
        font-size: 9px;
        line-height: 13px;
        color: var(--text-color-secondary);
    }

    &__block-unread-massages {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__unread-massages {
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: var(--text-color-inverted);
    }
}
