:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6, p, span, a, input {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    place-items: center;
}

#app {
    margin: 0 auto;
    text-align: center;
}

button {
    border-radius: 8px;
}

.error {
    color: #FF2F2F;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    text-align: start;
    padding-top: 7px;
}

.error-profile {
    text-align: end;
    display: block;
    width: 100%;
}
