.profile-data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-light);
  padding-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    color: var(--text-color-primary);
  }

  &__info {
    color: var(--text-color-secondary);
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }
}
