<div class="register">
    <form class="register__container">
        <h2 class="register__title">Регистрация</h2>
        <div class="register__block-inputs">
            <div class="register__block-input">
                <label class="register__input-label">Почта</label>
                <input class="register__input register__font" type="text" id="email" name="email"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Логин</label>
                <input class="register__input register__font" type="text" id="login" name="login"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Имя</label>
                <input class="register__input register__font" type="text" id="first_name" name="first_name"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Фамилия</label>
                <input class="register__input register__font" type="text" id="second_name" name="second_name"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Телефон</label>
                <input class="register__input register__font" type="text" id="phone" name="phone"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Пароль</label>
                <input class="register__input register__font" type="password" id="password" name="password"/>
            </div>
            <div class="register__block-input">
                <label class="register__input-label">Пароль (еще раз)</label>
                <input class="register__input register__font" type="password" id="passwordAgain" name="passwordAgain"/>
            </div>
        </div>
        <button class="register__button register__font">Зарегистрироваться</button>
        <a href="/signin" class="register__link">Войти</a>
    </form>
</div>