@use '../../styles/colors' as *;

.register {
  @include color-variables;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 340px;
    margin: 0 auto;
    padding: 50px 30px 30px;
    border-radius: 12px;
    background-color: var(--background-primary);
    box-shadow: 2px 2px 6px 4px rgb(0 0 0 / 14%);
  }

  &__title {
    color: var(--text-color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0 47px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
}
