.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 340px;
    margin: 0 auto;
    padding: 50px 30px 30px;
    border-radius: 12px;
    background-color: #FFFFFF;
  }

  &__title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  &__block-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0 47px;
  }

  &__block-input {
    display: flex;
    flex-direction: column;
  }

  &__input-label {
    padding: 0;
    font-size: 14px;
    margin-bottom: 8px;
    color: #999999;
    text-align: start;
  }

  &__input {
    background: white;
    border: none;
    color: #1E1E1E;
    border-bottom: 1px solid #3369F3;
  }

  &__input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #3369F3;
  }

  &__button {
    width: 100%;
    height: 37px;
    background: #3369F3;
    margin-bottom: 14px;
    border: none;
    color: #FFFFFF;
  }

  &__link {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    text-align: center;
    color: #3369F3;
    text-decoration: none;
  }

  &__font {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
  }
}
