.message {
  padding: 11px;
  width: 402px;
  background: var(--background-light);
  border-radius: 10px;

  &__text {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__time {
    color: var(--text-color-secondary);
    float: right;
    margin-top: 5px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }
}
