<div class="error-page">
    <div class="error-page__container">
        <div class="error-page__code">{{code}}</div>
        <h1 class="error-page__title">{{title}}</h1>
        <div class="error-page__actions">
            <a class="error-page__button" href="/">Назад к чатам</a>
        </div>
    </div>
</div>

