<main class="error-page">
    <div class="error-page__container">
        <div class="error-page__code">{{ code }}</div>
        <h1 class="error-page__title">{{ title }}</h1>
        <div class="error-page__actions">
            {{{ Link }}}
        </div>
    </div>
</main>
